.slider{
  position: relative;

  &__slides{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {

    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-top: 57.6%;
    display: none;
  }

  &__item.active{
    display: block;
  }
&__header{
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 2px rgba(0,0,0,0.2);
}
  &__box{
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;

  }

  &__dot{
    background-color: transparent;
    border-radius: 50%;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 10px 10px 0;
    cursor: pointer;
    border: 1px solid #fff;
    float: left;
  }
&__dots{
  list-style: none;
  padding: 0;
  margin: auto;
  display: table;
  margin-top: -20px;
  z-index: 1;
  position: relative;

  &:before,&:after{
    content: '';
    clear: both;
    display: block;
  }
}
&__dot.active{
  background-color: #fff;

}
}